<div class="jumbotron">
  <h1 class="display-3">Work in progress <%= fa_icon 'cog spin' %></h1>
  <p class="lead">This is a test page to see if the Elastic Beanstalk deploy is working appropriately</p>
  <p><a class="btn btn-lg btn-warning" href="#" role="button">Check back soon</a></p>
</div>