<h1>About This Project</h1>

<h3>What</h3>
<p>
This web app aims to effectively and beautifully communicate the amount of activity and collaboration within a Github Organisation.

Its main feature is a network graph showing members of the organisation and their interactions with each other.<br>
It can quickly show how active and vibrant a developer community is, which is the use-case it was created for.<br>
</p>

<h3>Why</h3>

<p>
This project was incepted and built by Royal Melbourne of University (RMIT) students in RMIT's Programming Club.<br>
It can be used by the club and by faculty to measure student engagement and collaboration, a key goal of the club.

As well as being a useful tool, it also served as the first time students in the club got together to develop in a team,
adhering to software development best practices like Code Review, Continuous Integration, and Test Driven Development.
</p>

<h3>Contributing Students<h3>

<%= data %>
