  <head>
    <title>Github Organisation Network Vis</title>
    <%= csrf_meta_tags %>

    <!-- Custom fonts -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Merriweather:400,400i" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
